<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      List View
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">List View</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-list>
      <ion-item *ngFor="let item of itemList" routerLink="/details" [queryParams]="{name: item}" style="cursor: pointer;">
        {{item}}
      </ion-item>      
    </ion-list>
</ion-content>
